
.idea/
__pycache__/
\website\__pycache__
website\__pycache__
website/__pycache__
generate_password.py
website/database.db
database.db
test.py
*.db-journal
test.js
env/
.env
test.js
test.cpp
*.pem
.pem
.tmp.driveupload
.tmp.drivedownload
/.tmp.driveupload
/.tmp.drivedownload
