.change_content:after {
    content: "";
    animation: changetext 10s infinite linear;
    color: #28A745;
}

@keyframes changetext {
    0% {
        content: "FAST";
    }
    25% {
        content: "SIMPLE";
    }
    45% {
        content: "SECURE";
    }
    65% {
        content: "RELIABLE";
    }
    85% {
        content: "EASY";
    }
    100% {
        content: "FAST";
    }
}