{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content %}
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <link rel="stylesheet" href="https://cdn.tasklify.me/content-delivery-network/secure/custom-style/signup.css?h=060323215300">
    <link rel="stylesheet" href="/static/loginimage.css">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.12.0/bootstrap-social.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
            src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v16.0&appId=697359442012060&autoLogAppEvents=1"
            nonce="2tKFmaiE"></script>
    <div class="container text-center">
        <br><br><br>
    <div id="image_bgb"><h3 align="center">{{ logintext }}</h3>
        <img src="https://cdn.tasklify.me/content-delivery-network/secure/image/default-monochrome-black.svg"
             style="max-height:70px; width: auto;">
        <br>
        <br><br>
        <h4 align="center" style="color:white">{{ notregistered }} <br> <a style="color:lightgreen" href="/auth/sign-up">{{ registerhere }}</a></h4></div>
        <br><br>
    </div>
    <div class="container containersign text-center">

        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="hidden" name="typeform" value="submit2fa">
            <div class="main-user-info">
                <div class="user-input-box">
                    <label for="code">2FA Token</label>
                    <input type="text" class="form-control" id="code" name="code" placeholder="2FA Token"/>
                </div>
            </div>

        </form>
    </div>
    <br><br><br><br><br>
    <br><br><br>
{% endblock %}