{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<link rel="stylesheet" href="https://cdn.tasklify.me/content-delivery-network/secure/custom-style/signup.css" type="text/css" />
    <br><br><br><br>
    <a href="/workers"><button class="btn-success btn">{{ goback }}</button></a>
    <br><br>

    <div class="container containersign text-center">
        <h1 style="color:white">{{ addworker }}</h1>

        <form method="POST">
            <div class="main-user-info">
                <div class="form-group" style="width: 100%;">
                    <input type="text" class="form-control taskfield1" style="width: 100%;" id="ID" name="ID" placeholder="ID" />
                </div>
            </div>
            <div class="form-submit-btn">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <input type="hidden" name="typeform" value="add" />
                <button type="submit" class="btn btn-success">{{ submit }}</button>
            </div>
        </form>
    </div>


    <br><br><br><br>
{% endblock %}