<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="admin.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <title>Admin panel</title>
</head>

<body>
            <div class="tables">
                <div class="last-appointments">
                    <div class="heading">
                        <h2>Административен панел</h2>
                        <a href="#" class="btn">Добави служител</a>
                    </div>
                    <table class="appointments">
                        <thead>
                            <td>Име</td>
                            <td>Задача</td>
                            <td>Краен срок</td>
                            <td>Действие</td>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Марио</td>
                                <td>Начална страница</td>
                                <td>25.11.22г.</td>
                                <td>
                                    <a href="#"><i class="far fa-eye"></i></a>
                                    <a href="#"><i class="far fa-edit"></i></a>
                                    <a href="#"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Ивайло</td>
                                <td>Докумнетация</td>
                                <td>22.11.22г.</td>
                                <td>
                                    <a href="#"><i class="far fa-eye"></i></a>
                                    <a href="#"><i class="far fa-edit"></i></a>
                                    <a href="#"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Петя</td>
                                <td>Сценарий</td>
                                <td>24.11.22г.</td>
                                <td>
                                    <a href="#"><i class="far fa-eye"></i></a>
                                    <a href="#"><i class="far fa-edit"></i></a>
                                    <a href="#"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Зорница</td>
                                <td>Представяне</td>
                                <td>23.11.22г.</td>
                                <td>
                                    <a href="#"><i class="far fa-eye"></i></a>
                                    <a href="#"><i class="far fa-edit"></i></a>
                                    <a href="#"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Пламен</td>
                                <td>Презентация</td>
                                <td>25.11.22г.</td>
                                <td>
                                    <a href="#"><i class="far fa-eye"></i></a>
                                    <a href="#"><i class="far fa-edit"></i></a>
                                    <a href="#"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Павлина</td>
                                <td>Представяне</td>
                                <td>23.11.22г.</td>
                                <td>
                                    <a href="#"><i class="far fa-eye"></i></a>
                                    <a href="#"><i class="far fa-edit"></i></a>
                                    <a href="#"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
            </div>
</body>

</html>