{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}


<br><br><br>
<div class="container text-center">
  <br>
  <h1>{{boss}}</h1>
  <br><br>
  <h3>{{accessmessage}}</h3>
  <br><br>
  <h3>{{youridtext}}</h3>
  <br><br><br><br>

  <h4><strong>{{idd}}</strong></h4>
  <br><br>
  <h4><strong>{{link}}</strong></h4>
  <script>
    function copyToClipboard(element) {
        navigator.clipboard.writeText(element);
    }
</script>
  <button type="button" class="btn btn-secondary"
  onclick="copyToClipboard('{{ link }}');">{{ copy }}</button>
  <br><br><br><br>
</div>



{% endblock %}

