    <script>
        // Check if the screen width is smaller than the height
        if (window.innerWidth < window.innerHeight) {
            alert("Please switch to landscape mode for the best experience.");
            location.href = "/"
        }

        // also check on update of size
        window.addEventListener("resize", function() {
            if (window.innerWidth < window.innerHeight) {
                document.body.innerHTML = "";
                alert("Please switch to landscape mode for the best experience.");
                location.href = "/"
            }
        });
    </script>

{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}

    <head>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>




    {{ plot|safe }}


{% endblock %}