<head>
    <title>tasklify - chat api</title>
    <script src="https://cdn.tasklify.me/content-delivery-network/secure/js/messagedata.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    <style>
        a.nav-link {
            color: #343a40;
            font-size: 18px;
            padding: 0;
        }

        .avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 2px solid #e84118;
            padding: 2px;
            flex: none;
        }

        input:focus {
            outline: 0px !important;
            box-shadow: none !important;
        }

        .card-text {
            border: 2px solid rgb(0, 0, 0);
            border-radius: 25px;
        }

        .card-b {
            background-color: #28A745;
        }

        .card-s {
            background-color: #2596BE;
        }

        .message {
            padding: 10px;
            margin: 10px;
            border: 1px solid black;
            border-radius: 10px;

        }

        .sent {
            font-size: 30px;
            background-color: #49c41d;
            width: 45%;
            float: right;
            margin-right: 30px;
            margin-bottom: 10px;
        }

        .received {
            font-size: 30px;
            background-color: #54cef5;
            float: left;
            margin-left: 30px;
            width: 45%;
            margin-bottom: 10px;
        }
    </style>



</head>





<body style="height: fit-content; background-color:#343a40">
    <style>
        .messages {
            width: 100%;
            height: 100%;
            overflow-x: hidden;
            overflow-y: scroll;
            background-color: #f5f5f5;
        }
    </style>

    <input type="hidden" id="count" value="0">
    <input type="hidden" id="first_time" value="0">
    <input type="hidden" id="errorgiven" value="0">

    <script>
        
        function delete_message(id, csrf_token, userid, id_receiver) {
            console.log(id);
            if (id == null || id == 0 || id == '') {
                console.log('id is null');
                return;
            }
            let data = new FormData(form); // create a FormData object
            data.append('idmessage', id); // append the message to the FormData object
            data.append('csrf_token', csrf_token); // append the csrf token to the FormData object
            data.append('userid', userid); // append the userid to the FormData object
            data.append('id_receiver', id_receiver); // append the id_receiver to the FormData object
            data.append('typeform', 'delete')
            fetch('/chat', { // make a POST request to the server
                method: 'POST',
                body: data
            }).then(function (response) {
                if (response.status === 200) {
                    console.log('OK');
                    document.getElementById('message').value = '';
                } else {
                    console.log('Error sending message');
                    window.location.reload();
                }
            });
        }
    </script>

    <div class="container mt-4 justify-content-center" style="max-width:100%; width: 100%; margin-left:0px; margin-right:0px; justify-content: center; background-color: #343a40">
        <div class="card mx-auto" style="width:100% !important; background-color: #343a40; border: 0px;">
            <div class="card-header bg-transparent" style="border: 0px;">
                <div class="navbar navbar-expand p-0">
                    <ul class="navbar-nav me-auto align-items-center">
                        <li class="nav-item">
                            <a href="#!" class="nav-link">
                                <div class="position-relative"
                                    style="width:50px; height: 50px; border-radius: 50%; border: 2px solid #000000; padding: 2px">
                                    <img src="/static/pfp/{{ user2.id }}.png" onerror="this.src='/static/blank-profile.png'" class="img-fluid rounded-circle" alt="">
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#!" class="nav-link" style="color:white">{{user2.first_name}}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="messagebox" style="margin-top:20px">


            </div>

        </div>
        <br>
        <br>
        <br>



        <div class="card-footer bg-transparent fixed-bottom"
            style="padding-bottom: 10px !important; border-top:0px !important;">
            <div class="input-group">
                <input type="text" id="message" name="message" class="form-control" placeholder="Type your message">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                    <i class="fas fa-paper-plane"></i>
                </button>
                <form method="post" id="chat-form">
                    <input type="hidden" id="userid" name="userid" value="{{ userid }}">
                    <input type="hidden" id="id_receiver" name="id_receiver" value="{{ otherid }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                </form>
            </div>

        </div>
    </div>

    <script>
        let form = document.getElementById('chat-form'); // get the form element
        let button = document.getElementById('button-addon2'); // get the button element
        let message = document.getElementById('message'); // get the message element
        let csrf_token = document.getElementsByName('csrf_token')[0].value;
        let userid = document.getElementById('userid').value;
        let id_receiver = document.getElementById('id_receiver').value;
        let chat_id = '{{chatid}}'

        button.addEventListener('click', function (e) {
            e.preventDefault(); // prevent the form from submitting
            let data = new FormData(form); // create a FormData object
            data.append('message', message.value); // append the message to the FormData object
            data.append('csrf_token', csrf_token); // append the csrf token to the FormData object
            data.append('userid', userid); // append the userid to the FormData object
            data.append('id_receiver', id_receiver); // append the id_receiver to the FormData object
            data.append('typeform', 'message')
            data.append('chat_id', chat_id)
            fetch('/chat', { // make a POST request to the server
                method: 'POST',
                body: data
            }).then(function (response) {
                if (response.status === 200) {
                    console.log('OK');
                    document.getElementById('message').value = '';
                } else {
                    console.log('Error sending message');
                    window.location.reload();
                }
            });
        });
    </script>





    <script>
        function scrolltobottom() {
            // scroll whole page to bottom instantly
            window.scrollTo({
                top: document.body.scrollHeight,
                left: 0,
                behavior: "instant"
            })
        }

        function preparemessage_sender(message, date, id) {

            var div = document.createElement("div");
            div.className = "d-flex align-items-baseline text-end justify-content-end mb-4";
            div.id = id;

            var div2 = document.createElement("div");
            div2.className = "pe-2";

            var div3 = document.createElement("div");

            var div4 = document.createElement("div");
            div4.className = "card-b card card-text d-inline-block p-2 px-3 m-1";
            div4.innerHTML = message;

            // place i in div4 that is the delete button and uses delete_message function
            


            div3.appendChild(div4);

            var div5 = document.createElement("div");

            var div6 = document.createElement("div");
            div6.className = "small";
            div6.style = "margin-right: 12px; color: #7a7a7a";
            div6.innerHTML = date;

            var i = document.createElement("i");
            i.className = "fa-solid fa-trash-can";
            i.style = "float: right; margin-top: 5px; margin-left: 5px; cursor: pointer;";
            i.onclick = function () {
                delete_message(id, "{{csrf_token}}", "{{userid}}", "{{otherid}}");
            };

            div6.appendChild(i);

            div5.appendChild(div6);

            div2.appendChild(div3);

            div2.appendChild(div5);

            div.appendChild(div2);

            return div;

        }

        function preparemessage_reciver(message, date, id) {

            var div = document.createElement("div");
            div.className = "d-flex align-items-baseline mb-4";
            div.id = id;

            var div2 = document.createElement("div");
            div2.className = "pe-2";

            var div3 = document.createElement("div");

            var div4 = document.createElement("div");
            div4.className = "card-s card card-text d-inline-block p-2 px-3 m-1";
            div4.innerHTML = message;

            div3.appendChild(div4);

            var div5 = document.createElement("div");

            var div6 = document.createElement("div");
            div6.className = "small";
            div6.style = "margin-left: 12px; color: #7a7a7a";
            div6.innerHTML = date;

            div5.appendChild(div6);

            div2.appendChild(div3);

            div2.appendChild(div5);

            div.appendChild(div2);

            return div;

        }

        function loaddata() {

            data = getdata("{{ userid }}", "{{ otherid }}")
            console.log(data)

            if (data == "No data could be retrieved! Web server is down or not responding.") {
                document.getElementById("errorgiven").value = "1";
                document.getElementById("messagebox").innerHTML = "";
                document.getElementById("messagebox").appendChild(preparemessage_reciver("No data could be retrieved! Web server is down or not responding.", "XX:XX - TASKLIFY OFFICIAL ERROR - CONTACT SUPPORT", 0));
                document.getElementById("messagebox").appendChild(preparemessage_sender("This error is not your fault, please wait a few minutes and try again. If the problem persists, please contact support.", "XX:XX - TASKLIFY OFFICIAL ERROR - CONTACT SUPPORT", 0));
                return;
            }

            let errorgiven = document.getElementById("errorgiven")
            if (errorgiven.value == "1") {
                window.location.reload();
            }


            count = document.getElementById("count")
            first_time = document.getElementById("first_time")

            if (count.value != data.length) {
                count.value = data.length;
                document.getElementById("messagebox").innerHTML = "";


                for (var i = 0; i < data.length; i++) {
                    if (data[i].sender == true) {
                        // remove all children
                        document.getElementById("messagebox").appendChild(preparemessage_sender(data[i].message, data[i]
                            .date, data[i].id));
                    } else {
                        // remove all children
                        document.getElementById("messagebox").appendChild(preparemessage_reciver(data[i].message, data[
                                i]
                            .date, data[i].id));
                    }

                }
            }

            datalenght = data.length;
            messagebox_child_count = document.getElementById("messagebox").childElementCount;


            if (datalenght != messagebox_child_count) {
                window.location.reload();
            }

            if (first_time.value == 0) {
                scrolltobottom();
                count.value = data.length;
                first_time.value = 1;
            }

            if (count.value != data.length) {
                count.value = data.length;
                scrolltobottom();
            }




        }

        loaddata();
        setInterval(loaddata, 1000);
    </script>
</body>