{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}

<br><br><br>
<div class="container text-center">
    <h1>{{contactus}}</h1>
    <br>
    <h4>{{contactusmessage}}</h4>
    <br>
    <br>
    <h4>{{contactname}}</h4>
    <h4><a href="mailto:{{contactemail}}">{{contactemail}}</a></h4>
    <br><br>
    <h4>{{contactname2}}</h4>
    <h4><a href="mailto:{{contactemail2}}">{{contactemail2}}</a></h4>
    <br>
    <h4>High School of Computer Modeling and Computer Systems</h4>
    <h4>ul. Studentska 1, 9010 Varna, Varna, Bulgaria</h4>
    <br>
    <h4>
        <a href="mailto:office@itpg-varna.bg">office@itpg-varna.bg</a><br>
        <a href="tel:+359888005610">+359 888 005610</a>
    </h4>


</div>
<br><br><br>

{% endblock %}