<script>
        const isCookieEnabled = navigator.cookieEnabled;

        if (isCookieEnabled) {
            window.location.href = "/";
        }
    </script>
        <br><br><br><br>
<center>
        <div class="container text-center" style="font-family: sans-serif">
            <img src="https://cdn.tasklify.me/content-delivery-network/secure/image/default-monochrome-black.svg" style="max-height:70px; width: auto;">
            <br>
    <br><br>
            <h1 class="">Cookies Disabled</h1>
            <p class="lead">We cannot provide our services when your cookies are turned off</p>
            <p class="lead">Ние не можем да предоставим нашите услуги когато вашите бисквитки са изключени</p>
            <p class="lead">Nous ne pouvons pas fournir nos services lorsque vos cookies sont désactivés</p>
            <p class="lead">No podemos proporcionar nuestros servicios cuando sus cookies están desactivadas</p>
            <p class="lead">Wir können unsere Dienste nicht bereitstellen, wenn Ihre Cookies deaktiviert sind</p>
            <p class="lead">Мы не можем предоставлять наши услуги, когда ваши файлы cookie отключены.</p>
            <br>
    
            <p class="lead">
                <a href="https://www.whatismybrowser.com/guides/how-to-enable-cookies/" target="_blank" class="btn btn-primary btn-lg">How  to enable them?</a>
            </p>

<br><br><br><br><br>
            <p style="color: grey">
                Tasklify restricted your access to this page!
                <br>This is a security measure put in place to protect our customers' data.
                <br>We cannot provide our services when your cookies are turned off!
                

            </p>
    
            
        </div>
</center>