{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
    <script>
        function showModal() {
            const inpObj = document.getElementById("email");
            if (!inpObj.checkValidity()) {
                document.getElementById("demo").innerHTML = inpObj.validationMessage;
            } else {
                $('#exampleModalCenter').modal('show');
            }
        }
    </script>
    <div class="container text-center">
        <br><br><br>
        <h3 align="center">{{ signup }}</h3>
        <img src="https://cdn.tasklify.me/content-delivery-network/secure/image/default-monochrome-black.svg"
             style="max-height:70px; width: auto;">
        <br>
        <br><br>
    </div>
    <form method="POST">
        <div class="form-group">
            <label for="email">{{ emailtext }}</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="{{ enteremail }}"/>
        </div>
        <div class="form-group">
            <label for="firstName">{{ nametext }}</label>
            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="{{ firstandlast }}"/>
        </div>
        <div class="form-group">
            <label for="password1">{{ passwordtext }}</label>
            <input type="password" class="form-control" id="password1" name="password1"
                   placeholder="{{ passwordtext }}"/>
        </div>
        <div class="form-group">
            <label for="password2">{{ passwordconfirm }}</label>
            <input type="password" class="form-control" id="password2" name="password2"
                   placeholder="{{ passwordconfirm }}"/>
        </div>
        <br/>
        <img src="{{ captcha_img(captcha) }}">
        <br>
        <br>
        <input type="text" class="form-control" class="simple-captcha-text" name="captcha-text" ,
               placeholder="CAPTCHA CODE">
        <br>
        <br>

        <ul>
            <li>{{ employreccode }}</li>
            <li>{{ addemployeeinfosignup }}</li>
        </ul>
        <br>


        <input type="hidden" name="captcha-hash" value="{{ captcha_input(captcha) }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <button type="submit" class="btn btn-primary" onclick="showModal()">{{ submit }}</button>
    </form>
    <br><br><br>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">{{ signup }}</h5>
                </div>
                <div class="modal-body">
                    {{ databeingproccessed }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}