{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
    <br><br><br><br>
    <div class="container text-center">

        <h1 class="">Bad Request</h1>

        <p class="lead">The Captcha Hash is missing, damaged or modified illegally.</p>
        <p class="lead">Make sure no extensions or programs are modifying the token, otherwise access will remain denied.</p>

        <p class="lead">
            <a href="/" class="btn btn-primary btn-lg">Go Home</a>

        
    </div>

{% endblock %}
