{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}

<link rel="stylesheet" href="/static/signup.css">
<div class="container text-center">
  <br><br><br>
  <h3 align="center">{{logintext}}</h3>
  <img src="https://cdn.tasklify.me/content-delivery-network/secure/image/default-monochrome-black.svg" style="max-height:70px; width: auto;">
  <br>
  <br><br>
  <h4 align="center">{{ notregistered }} <br> <a href="/auth/sign-up">{{registerhere}}</a> </h4>
  <br><br>
</div>
<div class="container containersign text-center">

  <form method="POST">
    <div class="main-user-info">
      <div class="user-input-box">
        <label for="email">{{ emailtext }}</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="{{enteremail}}" />
      </div>
      <div class="user-input-box">
        <label for="password">{{ passwordtext }}</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="{{enterpassword}}" />
      </div>
      </div>
    <div class="gender-details-box">
      <span class="gender-title">{{signupas}}</span>
      <div class="gender-category" style="font-size: 25px;">
        <input type="radio" id="worker" name="accounttype" value="worker" checked>
        <label for="worker">{{worker}}</label>
        <input type="radio" id="boss" name="accounttype" value="boss">
        <label for="boss">{{boss}}</label>
      </div>
      <br>
  </div>
    <div class="form-submit-btn">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <button type="submit" class="btn btn-success">{{logintext}}</button>
    </div>
  </form>
</div>
<br><br><br><br><br>
      <br><br><br>
{% endblock %}