{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}



    <br><br>



    <center>
        <h1>{{ tasktextplural }}</h1>
    </center>

    <br><br>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/tasks.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"

          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <div class="container-fluid" style="width: 100%">
        <div class="row">
            <script>
                function movecard(card, currentable, nextable) {
                    var card = document.getElementById(card);
                    var currentable = document.getElementById(currentable);
                    var nextable = document.getElementById(nextable);
                    // cardholder: currenttable -> card-body -> items
                    var cardholder = currentable.getElementsByClassName("items")[0];
                    cardholder.removeChild(card);
                    var cardholder_next = nextable.getElementsByClassName("items")[0];
                    cardholder_next.appendChild(card);


                    if (nextable.id === "started") {
                        card.getElementsByClassName("card-body")[0].getElementsByClassName("nav-card-task")[0].getElementsByClassName("left-arrow-lk")[0].classList.remove("bt-hidden");
                        card.getElementsByClassName("card-body")[0].getElementsByClassName("nav-card-task")[0].getElementsByClassName("left-arrow-lk")[0].classList.add("bt-show");

                        card.getElementsByClassName("card-body")[0].getElementsByClassName("nav-card-task")[0].getElementsByClassName("right-arrow-lk")[0].classList.remove("bt-hidden");
                        card.getElementsByClassName("card-body")[0].getElementsByClassName("nav-card-task")[0].getElementsByClassName("right-arrow-lk")[0].classList.add("bt-show");

                        // right arrow
                        right_arrow = card.getElementsByClassName("card-body")[0].getElementsByClassName("nav-card-task")[0].getElementsByClassName("right-arrow-lk")[0];
                        right_arrow.setAttribute("onclick", "movecard('" + card.id + "', '" + nextable.id + "', 'done')");

                        // left arrow
                        left_arrow = card.getElementsByClassName("card-body")[0].getElementsByClassName("nav-card-task")[0].getElementsByClassName("left-arrow-lk")[0];
                        left_arrow.setAttribute("onclick", "movecard('" + card.id + "', '" + nextable.id + "', 'notdone')");

                    } else if (nextable.id === "notdone") {
                        card.getElementsByClassName("card-body")[0].getElementsByClassName("nav-card-task")[0].getElementsByClassName("left-arrow-lk")[0].classList.remove("bt-show");
                        card.getElementsByClassName("card-body")[0].getElementsByClassName("nav-card-task")[0].getElementsByClassName("left-arrow-lk")[0].classList.add("bt-hidden");

                        card.getElementsByClassName("card-body")[0].getElementsByClassName("nav-card-task")[0].getElementsByClassName("right-arrow-lk")[0].classList.remove("bt-hidden");
                        card.getElementsByClassName("card-body")[0].getElementsByClassName("nav-card-task")[0].getElementsByClassName("right-arrow-lk")[0].classList.add("bt-show");

                        // right arrow
                        right_arrow = card.getElementsByClassName("card-body")[0].getElementsByClassName("nav-card-task")[0].getElementsByClassName("right-arrow-lk")[0];
                        right_arrow.setAttribute("onclick", "movecard('" + card.id + "', '" + nextable.id + "', 'started')");

                        // left arrow
                        left_arrow = card.getElementsByClassName("card-body")[0].getElementsByClassName("nav-card-task")[0].getElementsByClassName("left-arrow-lk")[0];
                        left_arrow.setAttribute("onclick", "movecard('" + card.id + "', '" + nextable.id + "', 'notdone')");
                    } else if (nextable.id === "done") {
                        card.getElementsByClassName("card-body")[0].getElementsByClassName("nav-card-task")[0].getElementsByClassName("left-arrow-lk")[0].classList.remove("bt-hidden");
                        card.getElementsByClassName("card-body")[0].getElementsByClassName("nav-card-task")[0].getElementsByClassName("left-arrow-lk")[0].classList.add("bt-show");

                        card.getElementsByClassName("card-body")[0].getElementsByClassName("nav-card-task")[0].getElementsByClassName("right-arrow-lk")[0].classList.remove("bt-show");
                        card.getElementsByClassName("card-body")[0].getElementsByClassName("nav-card-task")[0].getElementsByClassName("right-arrow-lk")[0].classList.add("bt-hidden");

                        // right arrow
                        right_arrow = card.getElementsByClassName("card-body")[0].getElementsByClassName("nav-card-task")[0].getElementsByClassName("right-arrow-lk")[0];
                        right_arrow.setAttribute("onclick", "movecard('" + card.id + "', '" + nextable.id + "', 'done')");

                        // left arrow
                        left_arrow = card.getElementsByClassName("card-body")[0].getElementsByClassName("nav-card-task")[0].getElementsByClassName("left-arrow-lk")[0];
                        left_arrow.setAttribute("onclick", "movecard('" + card.id + "', '" + nextable.id + "', 'started')");
                    }

                    // use ajax to update the database
                    var taskid = card.getElementsByClassName("card-body")[0].getElementsByClassName("nav-card-task")[0].getElementsByTagName("input")[0].value;
                    var csrf_token = "{{ csrf_token() }}"
                    $.ajax({
                        url: "/tasks",
                        type: "POST",
                        data: {
                            task_id: taskid,
                            typeform: nextable.id,
                            csrf_token: csrf_token,
                        },
                        timeout: 5000,

                    });


                }
            </script>
            <style>
                .bt-hidden {
                    display: none;
                    cursor: none;
                }

                .bt-show {
                    display: block;
                    cursor: pointer;
                }
            </style>
            <div class="col-md-4 col-sm-6">
                <div class="card" id="notdone">
                    <div class="card-body">
                        <h6 class="card-title text-uppercase text-truncate py-2">{{ notdone }}</h6>
                        <hr>
                        <div class="items">
                            {% for task in taskslist %}

                                {% if task.complete == "0" %}

                                    <div class="card-card" id="todo{{ loop.index }}">
                                        <div class="card-body p-2">
                                            <div class="card-title">

                                                <a href="/task/{{ task.task_id }}"
                                                   class="lead font-weight-light">({{ task.task_id }}) {{ task.title }}</a>
                                                <p class="lead font-weight-bold">{{ task.datedue }}</p>
                                            </div>
                                            <p>
                                                {{ task.task }}
                                            </p>
                                            <a href="/task/{{ task.task_id }}">
                                                <button class="btn-moreinfo">{{ moreinfo }}</button>
                                            </a>
                                            <br>
                                            <div class="nav-card-task"
                                                 style="margin-left:10px; margin-right:10px; height:25px; margin-top:10px">
                                                <input type="hidden" id="taskid" value="{{ task.task_id }}">
                                                <a class="right-arrow-lk bt-show"
                                                   onclick="movecard('todo{{ loop.index }}', 'notdone', 'started')"><i
                                                        style="font-size:25px; float:right"
                                                        class="fa-solid fa-arrow-right"></i></a>

                                                <a class="left-arrow-lk bt-hidden"
                                                   onclick="movecard('todo{{ loop.index }}', 'notdone', 'notdone')"><i
                                                        style="font-size:25px; float:left"
                                                        class="fa-solid fa-arrow-left"></i></a>

                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card" id="started">
                    <div class="card-body">
                        <h6 class="card-title text-uppercase text-truncate py-2">{{ started }}</h6>
                        <hr>
                        <div class="items">
                            {% for task in taskslist %}

                                {% if task.complete == "1" %}

                                    <div class="card-card" id="todo{{ loop.index }}">
                                        <div class="card-body p-2">
                                            <div class="card-title">

                                                <a href="/task/{{ task.task_id }}"
                                                   class="lead font-weight-light">({{ task.task_id }}) {{ task.title }}</a>
                                                <p class="lead font-weight-bold">{{ task.datedue }}</p>
                                            </div>
                                            <p>
                                                {{ task.task }}
                                            </p>
                                            <a href="/task/{{ task.task_id }}">
                                                <button class="btn-moreinfo">{{ moreinfo }}</button>
                                            </a>
                                            <br>
                                            <div class="nav-card-task"
                                                 style="margin-left:10px; margin-right:10px; height:25px; margin-top:10px">
                                                <input type="hidden" id="taskid" value="{{ task.task_id }}">
                                                <a class="right-arrow-lk bt-show"
                                                   onclick="movecard('todo{{ loop.index }}', 'started', 'done')"><i
                                                        style="font-size:25px; float:right"
                                                        class="fa-solid fa-arrow-right"></i></a>

                                                <a class="left-arrow-lk bt-show"
                                                   onclick="movecard('todo{{ loop.index }}', 'started', 'notdone')"><i
                                                        style="font-size:25px; float:left"
                                                        class="fa-solid fa-arrow-left"></i></a>

                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card" id="done">
                    <div class="card-body">
                        <h6 class="card-title text-uppercase text-truncate py-2">{{ done }}</h6>
                        <hr>
                        <div class="items">
                            {% for task in taskslist %}

                                {% if task.complete == "2" %}

                                    <div class="card-card" id="todo{{ loop.index }}">
                                        <div class="card-body p-2">
                                            <div class="card-title">

                                                <a href="/task/{{ task.task_id }}"
                                                   class="lead font-weight-light">({{ task.task_id }}) {{ task.title }}</a>
                                                <p class="lead font-weight-bold">{{ task.datedue }}</p>
                                            </div>
                                            <p>
                                                {{ task.task }}
                                            </p>
                                            <a href="/task/{{ task.task_id }}">
                                                <button class="btn-moreinfo">{{ moreinfo }}</button>
                                            </a>
                                            <br>
                                            <div class="nav-card-task"
                                                 style="margin-left:10px; margin-right:10px; height:25px; margin-top:10px">
                                                <input type="hidden" id="taskid" value="{{ task.task_id }}">
                                                <a class="right-arrow-lk bt-hidden"
                                                   onclick="movecard('todo{{ loop.index }}', 'done', 'done')"><i
                                                        style="font-size:25px; float:right"
                                                        class="fa-solid fa-arrow-right"></i></a>

                                                <a class="left-arrow-lk bt-show"
                                                   onclick="movecard('todo{{ loop.index }}', 'done', 'started')"><i
                                                        style="font-size:25px; float:left"
                                                        class="fa-solid fa-arrow-left"></i></a>

                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>


    </div>





{% endblock %}