{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}

<br><br>

<div class="container-fluid text-center text-truncate" style="max-width:100%">

    <h1>{{tasktextplural}}</h1>
    <br><br>
    {% for task in taskslist %}
    {% set status = task.complete %}
    {% if status == 0 %}
    {% set status = "Not Started" %}
    {% elif status == 1 %}
    {% set status = "Done" %}
    {% endif %}
    
    <div id="{{task.task_id}}" class="col mb-4">
        <h4>{{tasktext}} #{{ loop.index }}</h4>
        <h4>{{task.title}}</h4>
        <h4><a href="/task/{{task.task_id}}"><button class="btn btn-primary">{{moreinfo}}</button></a></h4>
        <br>
        <h4>{{statustext}}: 
            {% if status == "Done" %}
                <span style="color:green">{{completed}}</span>
            {% else %}
                <span style="color:red">{{notstarted}}</span>
            {% endif %}
        </h4>
        <h4>{{workertext}}: {{current_user.first_name}}</h4>
        {% if status == "Not Started" %}
        <form method="POST">
            <input type="hidden" name="typeform" value="done"/>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="hidden" name="task_id" value="{{task.task_id}}"/>
            <button type="submit" class="btn btn-primary">{{done}}</button>
        </form>
        {% else %}
        <form method="POST">
            <input type="hidden" name="typeform" value="notdone"/>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="hidden" name="task_id" value="{{task.task_id}}"/>
            <button type="submit" class="btn btn-primary">{{notdone}}</button>
        {% endif %}
        <br>
    </div>
    
    {% endfor %}
    </div>





{% endblock %}