{% extends "base.html" %} {% block title %}Task{% endblock %} {% block content %}

    <br><br>
    <style>
        .form-title {
            font-size: 26px;
            font-weight: 600;
            text-align: center;
            padding-bottom: 6px;
            color: white;
            text-shadow: 2px 2px 2px black;
            border-bottom: solid 1px white;
        }


        .donebutton:hover {
            background-color: #343A40;
            color: white;
        }

        .notdonebutton:hover {
            background-color: #343A40 !important;
            color: white;
        }

        .main-user-info {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 20px 0;
        }

        .user-input-box:nth-child(2n) {
            justify-content: end;

        }

        .user-input-box {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            padding-bottom: 15px;
        }

        .user-input-box label {
            width: 100%;
            color: white;
            font-size: 20px;
            font-weight: 400;
            margin: 5px 0;
            text-align: center;
        }

        .user-input-box input:not([type="file"]) {
            height: 40px;
            width: 95%;
            border-radius: 7px;
            outline: none;
            border: 1px solid grey;
            padding: 0 10px;
        }

        .gender-title {
            color: white;
            font-size: 24px;
            font-weight: 600;
            border-bottom: 1px solid white;
        }

        .gender-category {
            color: white;
        }

        .form-submit-btn input {
            cursor: pointer;
        }

        .form-submit-btn {
            margin-top: 40px;
        }

        .form-submit-btn input {
            display: block;
            width: 100%;
            margin-top: 10px;
            font-size: 20px;
            padding: 10px;
            border: none;
            border-radius: 3px;
            color: rgb(209, 209, 209);
            background: rgba(63, 114, 76, 0.7);
        }

        .form-submit-btn input:hover {
            background: rgba(56, 204, 93, 0.7);
            color: rgb(255, 255, 255);
        }

        @media (max-width: 600px) {
            .container {
                min-width: 280px;
            }

            .user-input-box {
                margin-bottom: 12px;
                width: 100%;
            }

            .user-input-box:nth-child(2n) {
                justify-content: space-between;
            }

            .gender-category {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }

            .main-user-info {
                overflow: auto;
            }

            .main-user-info::-webkit-scrollbar {
                width: 0;
            }
        }

        .containerg {
            width: 100%;
            max-width: 510px;
            background: rgba(0, 0, 0, 0.9);
            border-radius: 10px;
            box-shadow: inset -2px 2px 2px white;
        }

        button {
            background-color: #28A745;
            color: white;
            text-decoration: none;
            border: 2px solid transparent;
            font-weight: bold;
            padding: 10px 10px;
            border-radius: 30px;
            transition: .4s;
        }

        .buttondanger {
            background-color: #dc3545;
            color: white;
            text-decoration: none;
            border: 2px solid transparent;
            font-weight: bold;
            padding: 10px 10px;
            border-radius: 30px;
            transition: .4s;
        }

        .taskdiv {
            white-space: initial;
            border-style: dashed;
            width: 50%;
            transform: translateX(50%);
        }

        @media only screen and (max-width: 991px) {
            .taskdiv {
                width: 100%;
                transform: translateX(0%);
            }

        }

        .upload-box {
            font-size: 15px;
            background: white;
            border-radius: 50px;
            box-shadow: 5px 5px 10px black;
            width: 350px;
            outline: none;
        }

        ::-webkit-file-upload-button {
            color: white;
            background: #28A745;
            padding: 20px;
            border: none;
            border-radius: 50px;
            box-shadow: 1px 0px 1px 1px #6b4559;
            outline: none;
        }


        element.style {
            resize: vertical;
            width: 100%;
            min-height: 100px;
        }

        .taskfield2 {
            border-radius: 7px;
        }

        textarea {
            max-width: 100%;
            max-height: 100%;
            overflow: auto;
            margin: 0;
            font-family: inherit;
            font-size: inherit;
            line-height: inherit;
        }
    </style>

    <div class="container text-center">

        <h1>{{ tasktext }} {{ taskid }}</h1>
        <br><br>
        <br>
        {% set status = task1.complete %}
        {% if status == "0" %}
            {% set status = "Not Started" %}
        {% elif status == "1" %}
            {% set status = "Started" %}
        {% elif status == "2" %}
            {% set status = "Done" %}
        {% endif %}
        <div class="container containerg text-center" style="max-width:70% !important;">
            <h1 class="form-title">{{ tasktext }}</h1>
            <div class="main-user-info">

                <div class="user-input-box">
                    <span class="gender-title">{{ titletext }}</span>
                    <label>{{ title }}</label>
                </div>

                <br>

                <div class="user-input-box">
                    <span class="gender-title">{{ desctext }}</span>
                    <label>{{ task1.task }}</label>
                    <br>
                    <br>

                    <div class="user-input-box">
                        <span class="gender-title">{{ statustext }}</span>
                        {% if status == "Done" %}
                            <label style="color:green">{{ completed }}</label>
                        {% elif status == "Started" %}
                            <label style="color:orange">{{ started }}</label>
                        {% elif status == "Not Started" %}
                            <label style="color:red">{{ notstarted }}</label>
                        {% endif %}
                    </div>

                    <br>

                    <div class="user-input-box">
                        <span class="gender-title">{{ due }}</span>
                        <label>{{ datedue }}</label>
                    </div>

                    <br>
                    {% if status == "Not Started" %}
                        <label>
                            <form method="POST">
                                <input type="hidden" name="typeform" value="start"/>
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <input type="hidden" name="task_id" value="{{ taskid }}"/>
                                <br>
                                <button type="submit" class="donebutton">{{ starttext }} </button>
                            </form>
                        </label>
                        </div>
                    {% elif status == "Started" %}

                        <div class="user-input-box" style="margin-top:20px !important;">

                            <span class="gender-title">ПРИКАЧАНЕ НА ФАЙЛОВЕ</span>
                            <button style="margin-left: 20px" type="button" data-toggle="modal"
                                    data-target="#pickfilesmodal">ПРИКАЧИ
                            </button>
                            <label></label>
                            <br>
                            <div class="card-deck row row-cols-1 row-cols-md-3"
                                 style="width: 100% !important; padding: 0px 0px 0px 0px !important; margin: 0px 0px 0px 0px !important;">
                                {% for file in attachements %}
                                    {% set fileslist = file.split('_') %}
                                    <div class="col mb-4" style="width: 100% !important;">

                                        <div class="card h-100">
                                            <div class="card-title">
                                                <p style="color:black" class="card-text">{{ fileslist[1] }}</p>
                                            </div>
                                            <div class="card-body">
                                                <a href="/uploaded_file/{{ fileslist[0] }}_{{ fileslist[1] }}"
                                                   target="_blank"><img class="img-fluid mx-auto d-block"
                                                                        style="max-width: 100%px; max-height: auto;"
                                                                        src="/uploaded_file/{{ fileslist[0] }}_{{ fileslist[1] }}"
                                                                        class="card-img-top" alt="..."
                                                                        onerror="this.src='/static/image/nopreview.jpg'"></a>
                                            </div>
                                            <div class="card-footer">
                                                <input type="hidden" name="typeform" value="deleteattachment"/>
                                                <input type="hidden" name="csrf_token" id="csrf_token_del_attch"
                                                       value="{{ csrf_token() }}"/>
                                                <input type="hidden" name="task_id" id="task_id_attch"
                                                       value="{{ taskid }}"/>
                                                <input type="hidden" name="file" id="file_attch"
                                                       value="{{ file }}"/>
                                                <button type="submit" id="deleteattachbtn" class="buttondanger">
                                                    Изтрий
                                                </button>

                                                <script>
                                                    let button = document.getElementById("deleteattachbtn");
                                                    button.addEventListener("click", function () {
                                                        let csrf_token = document.getElementById("csrf_token_del_attch").value;
                                                        let task_id = document.getElementById("task_id_attch").value;
                                                        let file = document.getElementById("file_attch").value;
                                                        let data = new FormData();
                                                        data.append("typeform", "deleteattachment");
                                                        data.append("csrf_token", csrf_token);
                                                        data.append("task_id", task_id);
                                                        data.append("file", file);
                                                        fetch("/task/{{ taskid }}", {
                                                            method: "POST",
                                                            body: data
                                                            // reload
                                                        }).then(function (response) {
                                                            location.reload();
                                                        });

                                                    });
                                                </script>
                                            </div>

                                        </div>

                                    </div>
                                {% endfor %}

                            </div>
                        </div>

                        <br>
                        <label>
                            <br>
                            <form method="post">
                                <div class="user-input-box">
                                    <span class="gender-title">Добави коментар</span>
                                    <label>
                                        <br>
                                        <div class="form-group" style="width: 100%;">
                                    <textarea type="text" class="taskfield2"
                                              style="resize: vertical; width: 100%; min-height: 100px;" id="comment"
                                              name="comment" placeholder="Коментар"></textarea>
                                        </div>
                                    </label>
                                </div>
                                <br>
                                <br>
                                <label>
                                    <input type="hidden" name="typeform" value="done"/>
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                    <input type="hidden" name="task_id" value="{{ taskid }}"/>
                                    <button type="submit" class="donebutton">{{ done }} <i
                                            class="fa-solid fa-check"></i></button>
                                </label>
                            </form>
                        </label>
                        </div>
                    {% elif status == "Done" %}
                        <div class="user-input-box" style="margin-top:20px !important;">

                            <span class="gender-title">ПРИКАЧАНЕ НА ФАЙЛОВЕ</span>
                            <button style="margin-left: 20px" type="button" data-toggle="modal"
                                    data-target="#pickfilesmodal">ПРИКАЧИ
                            </button>
                            <label></label>
                            <br>
                            <div class="card-deck row row-cols-1 row-cols-md-3"
                                 style="width: 100% !important; padding: 0px 0px 0px 0px !important; margin: 0px 0px 0px 0px !important;">
                                {% for file in attachements %}
                                    {% set fileslist = file.split('_') %}
                                    <div class="col mb-4" style="width: 100% !important;">

                                        <div class="card h-100">
                                            <div class="card-title">
                                                <p style="color:black" class="card-text">{{ fileslist[1] }}</p>
                                            </div>
                                            <div class="card-body">
                                                <a href="/uploaded_file/{{ fileslist[0] }}_{{ fileslist[1] }}"
                                                   target="_blank"><img class="img-fluid mx-auto d-block"
                                                                        style="max-width: 100%px; max-height: auto;"
                                                                        src="/uploaded_file/{{ fileslist[0] }}_{{ fileslist[1] }}"
                                                                        class="card-img-top" alt="..."
                                                                        onerror="this.src='/static/image/nopreview.jpg'"></a>
                                            </div>
                                            <div class="card-footer">
                                                <input type="hidden" name="typeform" value="deleteattachment"/>
                                                <input type="hidden" name="csrf_token" id="csrf_token_del_attch"
                                                       value="{{ csrf_token() }}"/>
                                                <input type="hidden" name="task_id" id="task_id_attch"
                                                       value="{{ taskid }}"/>
                                                <input type="hidden" name="file" id="file_attch"
                                                       value="{{ file }}"/>
                                                <button type="submit" id="deleteattachbtn" class="buttondanger">
                                                    Изтрий
                                                </button>

                                                <script>
                                                    let button = document.getElementById("deleteattachbtn");
                                                    button.addEventListener("click", function () {
                                                        let csrf_token = document.getElementById("csrf_token_del_attch").value;
                                                        let task_id = document.getElementById("task_id_attch").value;
                                                        let file = document.getElementById("file_attch").value;
                                                        let data = new FormData();
                                                        data.append("typeform", "deleteattachment");
                                                        data.append("csrf_token", csrf_token);
                                                        data.append("task_id", task_id);
                                                        data.append("file", file);
                                                        fetch("/task/{{ taskid }}", {
                                                            method: "POST",
                                                            body: data
                                                            // reload
                                                        }).then(function (response) {
                                                            location.reload();
                                                        });

                                                    });
                                                </script>
                                            </div>

                                        </div>

                                    </div>
                                {% endfor %}

                            </div>
                        </div>

                        <div class="user-input-box">
                        <div class="user-input-box" style="margin-top:20px !important;">
                            <span class="gender-title">{{ comment }}</span>
                        </div>
                            <label>
                                <br>
                                <h3>{{ task1.comment }}</h3>
                            </label>
                        </div>
                        <label>
                            <form method="POST">
                                <input type="hidden" name="typeform" value="start"/>
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <input type="hidden" name="task_id" value="{{ taskid }}"/>
                                <br>
                                <button type="submit" class="buttondanger notdonebutton">{{ notdone }}</button>
                            </form>
                        </label>
                        </div>
                    {% endif %}
    </div>


    </div>
    </div>
    <script>
        function copyToClipboard(element) {
            navigator.clipboard.writeText(element);
        }
    </script>


    <div class="modal fade" id="pickfilesmodal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">ВАШИТЕ ФАЙЛОВЕ</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card-deck row row-cols-1 row-cols-md-3">
                        {% for file in myfileswithoutid %}
                            <div class="col mb-4">
                                <div class="card h-100">
                                    <div class="card-title">
                                        <p class="card-text">{{ file }}</p>
                                    </div>
                                    <div class="card-body">
                                        <img class="img-fluid mx-auto d-block"
                                             style="max-width: 100%; max-height: auto;"
                                             src="/uploaded_file/{{ user.id }}_{{ file }}" class="card-img-top"
                                             alt="..."
                                             onerror="this.src='/static/image/nopreview.jpg'">
                                    </div>
                                    <div class="card-footer">
                                        <form method="post">
                                            <button type="submit" class="btn btn-primary">ATTACH</button>
                                            <input type="hidden" name="typeform" value="attach"/>
                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                            <input type="hidden" name="task_id" value="{{ taskid }}"/>
                                            <input type="hidden" name="file" value="{{ file }}"/>
                                        </form>
                                    </div>

                                </div>

                            </div>

                        {% endfor %}
                    </div>
                </div>
                <h3 class="text-center">Можете да качите нови файлове от тук: <a href="/files/{{ user.id }}">
                    <button class="btn btn-primary">Моите файлове</button>
                </a></h3>
            </div>
        </div>


    </div>
    <br><br><br>

{% endblock %}