{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}

<br><br>

<div class="container text-center text-truncate overflow-auto;">
    <div class="row row-cols-1 row-cols-md-2">
        {% for worker in current_user.workers %}
        <div id="{{worker.id}}" class="col mb-4">
            <h4>{{workertext}} #{{ loop.index }}</h4>
            <h4>{{email}}: {{worker.email}}</h4>
            <h4>{{name}}: {{worker.first_name}}</h4>
            <form method="post">
                <input type="hidden" name="typeform" value="delete"/>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="hidden" name="worker_id" value="{{worker.registrationid}}"/>
                <button type="submit" class="btn btn-primary">{{delete}}</button>
            </form>
            <form method="post" style="padding-top:5px">
                <input type="hidden" name="typeform" value="workermenu"/>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="hidden" name="worker_id" value="{{worker.id}}"/>
                <button type="submit" class="btn btn-primary">{{workermenu}}</button>
            </form>
         <a href="/files/{{ worker.id }}"><button class="btn btn-primary">Files</button></a>

        </div>
        <br>
        {% endfor %}
    </div>
    <br><br><br>
    <form method="post" style="border-style: dashed; padding-left: 10px; padding-right: 10px">
        <br>
            <h1>{{addworker}}</h1>
        <div class="form-group">
            <input type="text" class="form-control" id="ID" name="ID" placeholder="ID" />
          </div>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <input type="hidden" name="typeform" value="add"/>
        <button type="submit" class="btn btn-primary">{{submit}}</button>
        <br><br>
    </form>
    <br><br><br>
    <h1>{{addtask}}</h1>
    <form method="post" style="border-style: dashed; padding-left: 10px; padding-right: 10px">
    <br>
        <div class="form-group">
            <input type="text" class="form-control" id="title" name="title" placeholder="Title" />
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="task" name="task" placeholder="Task" />
          </div>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <input type="hidden" name="typeform" value="task"/>
          <br>
          <div class="form-check">
            <h3>{{selectworkers}}</h3>
            <input type="button" onclick='selects()' class="btn btn-primary" value="{{selectall}}"/>  
            <input type="button" onclick='deSelect()' class="btn btn-primary" value="{{deselectall}}"/>  
        </div>
        <br>
          {% for worker in current_user.workers %}
            <div class="form-check">
                <input style="transform: scale(1.3); margin-top: 10px;" class="form-check-input" type="checkbox" value="{{worker.id}}" id="worker{{worker.id}}" name="worker">
                <label style="font-size:20px" class="form-check-label" for="worker{{worker.id}}">
                {{worker.first_name}}
                </label>
            </div>
            {% endfor %}
            <br><br>
            <button type="submit" class="btn btn-primary">{{submit}}</button>
    <br><br>
    </form>
    <br><br><br>
</div>


{% endblock %}