{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}

<br><br>
<link rel="stylesheet" href="/static/admin.css">

<div class="container text-center">

    <div class="last-appointments container-fluid text-truncate" style="width: 100%; height: fit-content;" style="overflow-x:auto">
        <div class="heading text-truncate" style="overflow: auto">
            <h2>Административен панел</h2>&nbsp;
            <div class="justify-content-right" >
                <a href="/add/employee" class="btn1">Добави служител</a>
                <a href="/employ/sign-up" class="btn1">Регистрирай служител</a>
                <a href="/add/task" class="btn1">Добави задача</a>
            </div>
        </div>
        <table class="appointments text-truncate">
            <thead>
                <td>Име</td>
                <td>Email</td>
                <td>Действие</td>
            </thead>
            <tbody>
                {% for worker in current_user.workers %}
                <div class="text-truncate">
                    <tr class="text-truncate trr">
                        <td>{{ worker.first_name }}</td>
                        <td style="max-width: fit-content;">{{worker.email}}</td>
                        <td>
                            <form method="POST">
                                <a href="/worker/{{worker.id}}"><i class="far fa-eye"></i></a>
    
    
                                <input type="hidden" name="typeform" value="delete" />
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                <input type="hidden" name="worker_id" value="{{ worker.registrationid }}" />
                                <a href="#" onclick="this.parentNode.submit()"><i class="far fa-trash-alt"></i></a>
                            </form>
                        </td>
                    </tr>
                </div>
                {% endfor %}

            </tbody>
        </table>
    </div>


</div>


{% endblock %}