{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}

<style>
    @media screen and (max-width: 575px) {
        .makesmallwhenscreengoesbrrr {
            width: 100% !important;
            transform: translateX(0%) !important;
        }
    }

    .btn1 {
        border-radius: 20px;
    }
</style>
<br><br>
<link rel="stylesheet" href="/static/admin.css">

<div class="container text-center">

    <h1>{{nowtime}}</h1>

    <div class="card1 container-fluid" style="width: 100%; height: fit-content; overflow:auto">
        <div class="heading text-truncate" style="width:100%; overflow:auto">
            <h2>{{adminpaneltext}}</h2>&nbsp;
            <div class="justify-content-right">
                <a href="/add/employee" style="background-color: #343A40;"
                    class="btn1">{{addemployeebutton}}</a>
                <a href="/employ/sign-up" style="background-color: #343A40"
                    class="btn1">{{registeryouremployee}}</a>
                <a style="background-color:#28A745;color:white;"
                    href="/add/task" class="btn1">{{addtasktext}}</a>
            </div>
        </div>
        <br>
        <table class="appointments text-truncate">
            <div class="btn-group">
                <script>
                    // on load if search is in url, set the search input to the search value
                    window.onload = function () {
                        if (window.location.href.includes("search")) {
                            document.getElementById("SearchInputT").value = window.location.href.split("search=")[1]
                                .split("&")[0];
                        }
                    }


                    function myFunction() {
                        // redirect to /workers/?search=SearchInputT and keep the current sorting
                        var search = document.getElementById("SearchInputT").value;
                        // if search is empty, redirect to /workers
                        if (search === "") {
                            window.location.href = "/workers";
                            return;
                        }
                        var url = "/workers/?search=" + search;
                        if (window.location.href.includes("sort")) {
                            url += "&sort=" + window.location.href.split("sort=")[1];
                        }
                        window.location.href = url;
                    }

                    function enterkey() {
                        if (event.key === 'Enter') {
                            myFunction();
                        }
                    }
                </script>
                <script>
                    function AreYouSure(workerid) {
                        var confirmed = confirm("{{areyousure}}");


                        if (confirmed) {
                            document.getElementById("deleteform" + workerid).submit();
                        }
                    }
                </script>

            </div>
            <br><br>
            <div class="input-group mb-4 makesmallwhenscreengoesbrrr" style="width:50%; transform: translateX(50%);">
                <input id="SearchInputT" onkeydown="enterkey()" type="search" placeholder="{{search}}"
                    aria-describedby="button-addon5" class="form-control" style="display:table">
                <div class="input-group-append">
                    <button onclick="myFunction()" onkeydown="enterkey()" id="button-addon5" type="submit"
                        class="btn btn-primary" style="background-color: #28A745 !important; border: #28A745"> <i class="fa fa-search"> </i> </button>
                </div>
            </div>


            <br>
                                    <button style="border-radius: 20px;" type="button" class="btn btn-warning dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{sorttext}}
                </button>
            <h5 style="margin-top:15px">{{currentlysorting}}

                {% if sorttype == "tasks" %}
                {{sorttaskstext}}
                {% elif sorttype == "name" %}
                {{sortnametext}}
                {% elif sorttype == "email" %}
                {{sortemailtext}}
                {% else %}
                {{nonetext}}
                {% endif %}
                            <div class="dropdown-menu">
                    <a class="dropdown-item" href="/workers">{{nonetext}}</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/workers/?sort=name">{{sortnametext}}</a>
                    <a class="dropdown-item" href="/workers/?sort=email">{{sortemailtext}}</a>
                    <a class="dropdown-item" href="/workers/?sort=tasks">{{sorttaskstext}}</a>
                </div>


            </h5>
            <thead>
                <td>{{name}}</td>
                <td>{{email}}</td>
                <td>{{taskstext}}</td>
                <td>{{actiontext}}</td>
            </thead>
            <tbody>
                {% for worker in workerslist %}
                <div class="text-truncate">
                    <tr class="text-truncate trr">
                        <td>{{ worker.name }}</td>
                        <td style="max-width: fit-content;">{{worker.email}}</td>
                        <td>{{ undonetasks(worker.id) }}</td>
                        <td>
                            <form method="POST" id="deleteform{{worker.id}}" name="deleteform">
                                <a href="/worker/{{worker.id}}"><i style="background-color: #28A745" class="far fa-eye"></i></a>


                                <input type="hidden" name="typeform" value="delete" />
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                <input type="hidden" id="worker_id" name="worker_id" value="{{ worker.id }}" />
                                <a href="#" onclick="AreYouSure('{{worker.id}}')"><i class="far fa-trash-alt"></i></a>
                                
                            </form>
                        </td>
                    </tr>
                </div>
                {% endfor %}

            </tbody>
        </table>
    </div>
    <br><br><br><br><br>


</div>


{% endblock %}